{
  "port": 3000,
  "consumer_key": "your",
  "consumer_secret": "twitter",
  "access_token_key": "keys",
  "access_token_secret": "here",
  "ia_bucket": "wikitweets", 
  "ia_access_key": "internet", 
  "ia_secret_key": "archive"
}
