body {
    font-size: 16pt;
}

section#tweets {
    width: 50%;
    margin-left: 30%
}

article.tweet {
    padding: 20px;
    border: thin solid #eeeeee;
    margin-bottom: 15px;
    border-radius: 10px;
}

article header {
    margin-bottom: 20px;
}

div.created {
    margin-top: 10px;
    font-size: 11pt;
}

img.avatar {
    vertical-align: top;
    float: left;
    margin-right: 10px;
    border: thin gray solid;
    border-radius: 5px;
    height: 65px;
}

span.user {
    font-size: 17pt;
}

span.name {
    font-size: 17pt;
}

article.tweet div.text {
    clear: both;
}

div.wikipediaArticle {
    margin-top: 10px;
    border-top: thin solid #eeeeee;
    padding: 5px;
    color: #999999;
    font-size: smaller;
}

a.articleTitle {
    font-size: larger;
    font-weight: bold;
}

a {
  text-decoration: none;
}
